#set($resourcePath="download/resources/com.tngtech.confluence.plugin.multivote:resources") <!-- TODO read from property? -->
#requireResource("confluence.web.resources:jquery")
#requireResource("com.tngtech.confluence.plugin.multivote:resources")
<fieldset class="hidden parameters">
    <input type="hidden" id="multivotePageId" value="$content.getIdAsString()"/>
    <input type="hidden" id="notInterestedImage" value="$req.contextPath/$resourcePath/checkbox_unchecked.png" />
    <input type="hidden" id="interestedImage" value="$req.contextPath/$resourcePath/checkbox_checked.png" />
    <input type="hidden" id="progressImage" value="$req.contextPath/$resourcePath/roller.gif" />
</fieldset>

<table class="grid confluenceTable" data-tableid="$tableId">
    <thead>
        <tr>
            #foreach ( $column in $header.columns )
                <th class='confluenceTh'>$column</th>
            #end
            <th class='confluenceTh'>$action.getText('multivote.result')</th>
            <th class='confluenceTh'>$action.getText('multivote.vote')</th>
        </tr>
    </thead>
    <tbody>
    #foreach ( $item in $items )
        #set ($interested = $item.isInterested($req.remoteUser))
        #if ($interested)
            #set ($classIntr = "interested")
            #set ($invInterested = "false")
            #set ($image = "checkbox_checked")
        #else
            #set ($classIntr = "notInterested")
            #set ($invInterested = "true")
            #set ($image = "checkbox_unchecked")
        #end
        <tr class=$classIntr>
            #foreach ( $field in $item.fields )
                <td>$field</td>
            #end
            <td id="audience.$generalUtil.urlEncode($item.idName)" title="$multiVote.getUserFullNamesAsString($item.audience)">$item.audienceCount</td>
            <td align="center">
                <form action="${req.contextPath}$generalUtil.customGetPageUrl($content)" method="post">
                    <input type="hidden" name="multivote.tableId" value="$generalUtil.urlEncode($tableId)" />
                    <input type="hidden" name="multivote.idname" value="$generalUtil.urlEncode($item.idName)" />
                    <input type="hidden" name="multivote.interested" value="$invInterested" />
                    <input type="image" style="background-color:transparent;border:none;padding:0" id="multivote.$generalUtil.urlEncode($item.idName)" data-interest="$invInterested" src="$req.contextPath/$resourcePath/${image}.png" width=20 border=0 align="absmiddle" />
                </form>
            </td>
        </tr>
    #end
    </tbody>
</table>
