#set($renderer=$wikiStyleRenderer)
#set($resPath="download/resources/com.tngtech.confluence.plugin.multivote:resources") <!-- TODO read from property? -->
#requireResource("confluence.web.resources:jquery")
#requireResource("com.tngtech.confluence.plugin.multivote:resources")
<fieldset class="hidden parameters">
    <input type="hidden" id="multivotePageId" value="$content.getIdAsString()"/>
    <input type="hidden" id="notInterestedImage" value="$req.contextPath/$resPath/checkbox_unchecked.png" />
    <input type="hidden" id="interestedImage" value="$req.contextPath/$resPath/checkbox_checked.png" />
    <input type="hidden" id="progressImage" value="$req.contextPath/$resPath/roller.gif" />
</fieldset>

<table class="grid" id="$tableId">
	<thead><!-- TODO -->
	    <tr>
            #foreach ( $header in $headers )
                <th>$header</th>
            #end
            <th>$action.getText('multivote.result')</th>
            <th>$action.getText('multivote.vote')</th>
	    </tr>
	</thead>
	<tbody>
	#foreach ( $talk in $talks )
	    #set ($interested = $talk.isInterested($req.remoteUser))
	    #if ($interested)
	        #set ($classIntr = "interested")
	    #else
	        #set ($classIntr = "notInterested")
	    #end
	    <tr class=$classIntr>
	        #foreach ( $field in $talk.getFields() )
	            <td>$field</td>
	        #end
	        <td id="audience.$generalUtil.urlEncode($talk.idName)" title="$talk.userFullNamesAsString">$talk.totalAudience</td>
	        <td align="center">
	            #if ($interested)
	                <a id="multivote.$generalUtil.urlEncode($talk.idName)" data-interest="false" href="${req.contextPath}$generalUtil.customGetPageUrl($content)&multivote.idname=$generalUtil.urlEncode($talk.idName)&multivote.interested=false" >
	                   <img src="$req.contextPath/$resPath/checkbox_checked.png" width=20 border=0 align="absmiddle">
	               </a>
	            #else
	                <a id="multivote.$generalUtil.urlEncode($talk.idName)" data-interest="true" href="${req.contextPath}$generalUtil.customGetPageUrl($content)&multivote.idname=$generalUtil.urlEncode($talk.idName)&multivote.interested=true" >
	                  <img src="$req.contextPath/$resPath/checkbox_unchecked.png" width=20 border=0 align="absmiddle">
	                </a>
	            #end
	        </td>
	    </tr>
	#end
	</tbody>
</table>